### Mandatory environment variables ###

# The URI to the MongoDB
export MONGODB=

# Client ID and Secret of your GitHub Application
export GITHUB_CLIENT=
export GITHUB_SECRET=


### Mandatory environment variables with default values ###

# Node.js Environment
export NODE_ENV=development

# ReviewNinja server settings (protocol, host, port)
export PROTOCOL=http
export HOST=localhost
export HOST_PORT=80

# GitHub server settings (defaults to github.com, API v3)
# change these if you wish to connect to an enterprise 
# version of GitHub
# export GITHUB_PROTOCOL=https
# export GITHUB_HOST=github.com
# export GITHUB_API_PATHPREFIX=
# export GITHUB_API_HOST=api.github.com
# export GITHUB_VERSION=3.0.0

# Port ReviewNinja should run on locally, to be reserve proxied to from Nginx
export PORT=5000



### Optional environment variables ###

# Should be a generated random string, it verifies the integrity of session cookies
export SESSION_SECRET=

# If you need your users to agree to a data privacy statement or terms of
# service, etc. then set this url to a plain text markdown document (we prefer
# using a gist) A user will be asked to accept an agreement again if the url changes
# export TERMS_URL=

# If you want to prepend a string to the generated milestone name
# export MILESTONE_PREFIX=

# Client login and API Key for user that creates comments,
# used for the "badge" comment appended to all PRs
export GITHUB_USER=
export GITHUB_PASS=

# If you want to use SMTP instead of sendmail set these variables
export SMTP_HOST=
export SMTP_SSL=
export SMTP_PORT=
export SMTP_USER=
export SMTP_PASS=

# For analytics https://keen.io
export KEENIO_PID=
export KEENIO_MASTER_KEY=
export KEENIO_WRITE_KEY=
export KEENIO_READ_KEY=