export PORT=5000
export PROTOCOL=http
export HOST=localhost
export HOST_PORT=5000
export MONGODB=
export GITHUB_CLIENT=
export GITHUB_SECRET=
export GACODE=
export SMTP_HOST=
export SMTP_PORT=
export SMTP_USER=
export SMTP_PASS=
