<div class="well-dark well-sm">
  <form ng-submit="search()" style="margin: 15px;">
    <div class="input-group">
      <div class="form-group has-feedback">
        <input type="text" ng-model="query" focus="setFocus" class="form-control" style="height:33px;" />
        <i class="fa fa-lg fa-spinner fa-spin form-control-feedback" ng-show="searching.loading" style="top:0px;"></i>
        <i class="fa fa-lg fa-times form-control-feedback" ng-show="!searching.loading && query" ng-click="reset(); setFocus=true;" style="top:0px;"></i>
      </div>
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit" ng-disabled="!query">Find Repository</button>
      </span>
    </div>
    <span class="help-block" style="margin-top:1px;">
      Type <em>username</em> or <em>organization</em> to find a repository
    </span>
    <div class="list-group" style="max-height:200px; overflow-y:scroll;" ng-show="results.length">
      <a href="" 
         class="list-group-item" 
         ng-class="{ active: active===repo }" 
         ng-click="$parent.active=repo; addRepo(repo);"
         ng-repeat="repo in results | orderBy: 'full_name'">
        {{ repo.owner.login }} / {{ repo.name }}
        <span class="octicon octicon-lock text-warning pull-right" ng-show="active!==repo && repo.private" style="padding-top:2px;"></span>
        <i class="fa fa-lg fa-spinner fa-spin pull-right" ng-show="active===repo" style="padding-top:3px;"></i>
      </a>
    </div>
  </form>
</div>
