<accordion class="diff">
    <accordion-group is-open="$parent.open">
        <accordion-heading>
            <strong tooltip="{{ open ? 'Hide' : 'Show'}} file"
               tooltip-placement="bottom"
               tooltip-append-to-body="true">
                <i class="fa text-primary" ng-class="{ 'fa-caret-down':open, 'fa-caret-right':!open }"></i> {{ file.filename }}
            </strong>
            <i ng-show="file.ignored" class="ignored"> - ignored file</i>
            <a ng-show="file.ignored"
                ng-click="$event.stopPropagation()"
                href="http://docs.review.ninja/quickstart/#ignoring-files"
                target="_blank" >
                <span class="fa-stack" style="height:1em; margin-top:-1em; font-size:0.75em;">
                    <i class="fa fa-circle fa-stack-2x text-info"></i>
                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                </span>
            </a>
            <span ng-click="expand($event)">
                <i class="fa pull-right"
                    ng-class="{ 'fa-plus':!expanded, 'fa-minus':expanded }"
                    ng-disabled="!open"
                    ng-show="!file.image"
                    tooltip="{{ expanded ? 'Collapse' : 'Expand' }} code"
                    tooltip-placement="bottom"
                    tooltip-append-to-body="true">
                </i>
            </span>
        </accordion-heading>
        <div ng-show="file.status==='renamed' && !file.patch.length" style="padding:5px 10px;">
            This file was renamed.
        </div>
        <div ng-show="file.patch.length">
            <table class="margin">
                <tr ng-repeat="line in (expanded ? file.file : file.patch) track by $index">
                    <td class="select">
                        <span class="octicon octicon-issue-opened text-warning"
                              ng-show="refStarts(line)"
                              ng-click="go(line)">
                        </span>
                        <span class="octicon octicon-issue-opened"
                              style="color: #dbcc91;"
                              ng-click="clear()"
                              ng-show="selStarts(line)">
                        </span>
                    </td>
                </tr>
            </table>
            <table class="code">
                <tr ng-repeat="line in (expanded ? file.file : file.patch) track by $index"
                    id="{{ generateAnchor(line) }}"
                    name="{{ generateAnchor(line) }}"
                    ng-class="{ addition: line.add,
                                deletion: line.del,
                                chunk: line.chunk,
                                selected: isSelected(line),
                                referenced: isReferenced(line) }">

                    <td class="number" ng-click="select(line, $event)"><pre class="nohighlight">{{ line.base }}</pre></td>
                    <td class="number" ng-click="select(line, $event)"><pre class="nohighlight">{{ line.head }}</pre></td>
                    <td><pre class="nohighlight" ng-show="line.add">+</pre><pre class="nohighlight" ng-show="line.del">-</pre></td>

                    <td class="code"><pre ng-class="getCodeClass(line)">{{ getLineContent(line) }}</pre></td>

                </tr>
            </table>
        </div>
        <div class="image" ng-show="file.image">
            <a ng-href="{{ file.image }}" target="_blank"><img class="center-block" ng-src="{{ file.image }}" /></a>
        </div>
    </accordion-group>
</accordion>
