<table class="code">
	<tr ng-repeat="line in content track by $index"
        ng-class="{ disabled: reference.disabled, 
                    selected: match(line) }">

        <td class="select" ng-click="select(line)">
            <i class="fa fa-circle" ng-show="reference.type==='selection'"></i>
            <i class="fa fa-exclamation-circle" ng-show="reference.type==='issue'"></i>
        </td>

		<td class="number" ng-click="select(line)"><pre>{{ line.head }}</pre></td>

		<td><pre>{{ line.content }}</pre></td>

	</tr>
</table>