
<svg version="1.1" 
     xml:space="preserve" 
     xmlns="http://www.w3.org/2000/svg" 
     xmlns:xlink="http://www.w3.org/1999/xlink" 
     enable-background="new 0 0 300 100" 
     viewBox="0 0 300 100" 
     x="0px" y="0px"
     width="200px">

    <path class="git-base" stroke-width="11" stroke-miterlimit="10" d="M 41.1 16.1 L 232.6 16.1"/>

    <polygon class="git-graph-arrow" points="224,4.9 250,16 224,27.4 "/>

    <path class="git-head" 
          stroke-width="11" 
          stroke-miterlimit="10" 
          d="M226.4,78.3c-112.1,0-133.6,1.3-152.8-12.4 C49.1,48.4,54,22.3,34,15.1"/>

    <filter id="dropshadow" height="130%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="2"/> <!-- stdDeviation is how much to blur -->
      <feMerge> 
        <feMergeNode/> <!-- this contains the offset blurred image -->
        <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
      </feMerge>
    </filter>

    <!-- the head commit circle -->
    <circle class="git-commit head" 
        cx="235.6" cy="78.4" r="13.7" 
        popover="this is the latest commit on the pull request" 
        popover-trigger="mouseenter" 
        popover-append-to-body="true" 
        popover-placement="bottom" />

    <!-- the base commit circle -->
    <circle class="git-commit base" 
        cx="42.3" cy="16" r="13.7"
        ng-class="{ active: activeSha===baseSha }" 
        ng-click="compare({ base: baseSha })"  
        popover="the pull request is based on this commit" 
        popover-trigger="mouseenter" 
        popover-append-to-body="true" 
        popover-placement="bottom" />

    <!-- the issue commit cirlce -->
    <circle class="git-commit issue" 
        cx="136.9" cy="78.4" r="13.7" 
        ng-show="issueSha && issueSha!==baseSha && issueSha!==headSha" 
        ng-class="{ active: activeSha===issueSha }" 
        ng-click="compare({ base: issueSha })" 
        popover="this is where this issue was created" 
        popover-trigger="mouseenter" 
        popover-append-to-body="true" 
        popover-placement="bottom" />
</svg>
