
<button type="button" 
        class="btn btn-block" 
        ng-class="{
          'btn-primary': status==='success' && !pull.merged,
          'btn-warning': status==='pending' && !pull.merged,
          'btn-danger':  status==='failure' && !pull.merged,
          'btn-merged':  pull.merged
        }"
        ng-disabled="!pull.mergeable" 
        ng-click="merge()">

  <span class="octicon octicon-git-merge"></span> 
  <span ng-show="!pull.merged">{{ status==='failure' ? 'Merge with caution!' : 'Merge pull request'}}</span>
  <span ng-show="pull.merged">Merged</span>
  <i class="fa fa-spinner fa-spin" ng-show="merging"></i>
</button>

<div ng-show="!pull.merged && pull.stars.length && !pull.milestone.open_issues" class="merge-message text-primary">
  Looking good<br />
  <span class="text-body">{{ pull.stars.length | pluralize:'ninja star' }}</span>
</div>

<div ng-show="!pull.merged && !pull.stars.length && !pull.milestone.open_issues" class="merge-message text-warning">
  Pending<br />
  <span class="text-body">{{ pull.stars.length | pluralize:'ninja star' }}</span>
</div>

<div ng-show="!pull.merged && pull.milestone.open_issues" class="merge-message text-danger">
  Not looking so good<br />
  <span class="text-body">{{ pull.milestone.open_issues | pluralize:'open issue' }}</span>
</div>

<div ng-show="pull.merged" class="merge-message text-merged">
  <span class="text-body">{{ pull.stars.length | pluralize:'ninja star' }}</span>
  <span class="text-body" ng-show="pull.milestone.open_issues">
    <br />{{ pull.milestone.open_issues | pluralize:'open issue' }}
  </span>
  <span class="text-body" ng-show="pull.milestone.closed_issues">
    <br />{{ pull.milestone.closed_issues | pluralize:'closed issue' }}
  </span>
</div>