<div class="onboard alert alert-info alert-dismissable" 
     style="margin:0;" 
     ng-show="!user.value.history.taskbar2">

  <ul class="onboard-list" ng-class="{complete: complete}" ng-show="!complete">
    <li><strong>Getting started to-do's:</strong></li>
    <li ng-repeat="action in actions" ng-class="{complete: action.val}">
      <span class="octicon octicon-check"></span>
      <span class="text" 
            ng-mouseover="addClass(action.elementclass, action.transition)" 
            ng-mouseleave="removeClass(action.elementclass, action.transition)">
        {{ action.text }}
      </span>
    </li>
  </ul>

  <div class="onboard-complete" ng-class="{complete: complete}">
    <strong>Hey, you’re done, nice job!</strong> 
    You’ve covered all the ReviewNinja basics, and we hope you enjoy using the tool! 
    If you haven’t added a repo of your own yet, now’s a good time! 
    <a ui-sref="home({addrepo: true})" style="text-decoration:underline"><strong>Add repo</strong></a>.
  </div>

  <button type="button" analytics-on="click" analytics-event="Onboard alert dismiss" analytics-category="Basic" class="close" style="top:-20px;" data-dismiss="alert" ng-click="dismiss('taskbar2')">&times</button>

</div>
