<div class="row">

  <!-- the webhook notification -->
  <div class="container-fluid" ng-cloak>
    <div class="row" ng-show="hook.loaded && !hook.error && !hook.value">
      <div class="col-md-12 alert alert-warning" style="margin:0;">
        <strong>Warning!</strong> A webhook is missing for this repository. 
        <i class="fa fa-lg fa-spinner fa-spin pull-right" ng-show="creating.loading"></i>
        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="createWebhook()" ng-show="!creating.loading">Add Webhook</button>
      </div>
    </div>
    <div class="row" ng-show="created">
      <div class="col-md-12 alert alert-success" style="margin:0;">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>Success!</strong> The webhook was created successfully.
      </div>
    </div>
  </div>

  <!-- pull request out of date -->
  <div class="container-fluid">
    <div class="row" ng-show="refresh">
      <div class="col-md-12 alert alert-warning" style="margin:0;">
        <strong>Pull request is out of date!</strong> Refresh to see the latest.
        <a role="button" 
           class="btn btn-default btn-xs pull-right" 
           ng-click="$state.go('repo.pull.review.reviewList', {base: refresh.base, head: refresh.head}, {reload: true});">
          Refresh
        </a>
      </div>
    </div>
  </div>

  <!-- onboarding -->
  <!-- <onboard class="col-sm-12" style="padding:0; margin-bottom:-5px;"></onboard> -->

</div>

<section ui-view></section>
