<div class="row main" style="margin-top: 50px;">

  <div class="col-md-2 col-md-offset-2">
    <div ng-show="user.loaded" style="margin-top:30px;">
      <img ng-src="{{ user.value.avatar_url }}" class="img-responsive hidden-xs hidden-sm" />
      <img ng-src="{{ user.value.avatar_url + '?s=200' }}" class="visible-xs visible-sm" width="200px;"/>
      <h4 style="font-weight:400; margin-bottom: 5px;">
        {{ user.value.name || user.value.login }}
      </h4>
      <h4 ng-show="user.value.name" style="margin-top:0;">{{ user.value.login }}</h4>
    </div>
  </div>

  <div class="col-md-6">
    <h2>
      Repositories
      <i class="fa fa-plus-circle plus-icon" ng-click="show=!show; setFocus=true;"></i>
    </h2>
    <p class="text-right" style="margin:-30px 0 10px 220px;">
      &nbsp; <!-- keep to maintain spacing -->
      <small ng-show="user.meta['x-oauth-scopes'].split(', ').indexOf('repo') === -1">
        You are only showing public repos.
        <a href="/auth/github?scope=private" target="_self" style="text-decoration: underline;">
          Enable private repos.
        </a>
      </small>
      <small ng-show="user.meta['x-oauth-scopes'].split(', ').indexOf('repo') > -1">
        You are showing public and private repos.
        <a href="/auth/github?scope=public" target="_self" style="text-decoration: underline;">
          Disable private repos.
        </a>
      </small>
    </p>

    <add-repo-new repos="repos" 
                  show="show"
                  set-focus="setFocus"
                  add="add(repo, done)"
                  ng-show="!$config.enterprise && show">
    </add-repo-new>

    <add-repo-old repos="repos" 
                  show="show"
                  set-focus="setFocus"
                  add="add(repo, done)"
                  ng-show="$config.enterprise && show">
    </add-repo-old>

    <div class="alert alert-info" ng-show="user && !user.value.history.welcome">
      <button type="button" class="close" style="top:-20px;" data-dismiss="alert" ng-click="dismiss('welcome')">&times</button>
      <p><strong>Hey {{ user.value.login }}, welcome to ReviewNinja, we're glad you're here!</strong></p>
      <p>To get started, <a href="" ng-click="show=!show; setFocus=true;" style="text-decoration:underline">add one of your own repositories</a>, or let us show you around by adding a welcome repository to your GitHub account.</p>
      <br>
      <button class="btn btn-primary welcome-button" ng-click="createOnboardingRepo()" ng-disabled="repoLoading.loading">
        <span ng-hide="repoLoading.loading">Sure, add ReviewNinja welcome repo</span>
        <i class="fa fa-2x fa-spinner fa-spin" ng-show="repoLoading.loading"></i>
      </button>
    </div>

    <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="!loaded"></i>

    <table class="table table-hover table-special">
      <tr ng-repeat="repo in repos | orderBy:['adddate', 'full_name']">

        <td>
          <div class="select" ui-sref="repo.master({ user:repo.owner.login, repo:repo.name })">
            <span class="octicon octicon-repo" ng-show="!repo.private"></span>
            <span class="octicon octicon-lock" ng-show="repo.private"></span>
            &nbsp;{{ repo.owner.login }} / {{ repo.name }}
            <i class="fa fa-times pull-right" 
               ng-hide="active===repo && webhook.loading"
               ng-click="rmv(repo); $event.stopPropagation();"
               tooltip="{{ active===repo ? 'Cancel' : 'Remove' }}"
               tooltip-placement="bottom"
               tooltip-append-to-body="true">
            </i>
            <i class="fa fa-spin fa-spinner pull-right" ng-show="active===repo && webhook.loading"></i>
          </div>
          <div class="confirm" ng-class="{active: active===repo}">
            Would you like to remove the webhook too?
            <span class="pull-right">
              <button class="btn btn-xs btn-primary" type="button" ng-click="removeWebhook(repo); $event.stopPropagation();" style="right:140px;">Remove repo and webook</button>
              <button class="btn btn-xs btn-primary" type="button" ng-click="remove(repo); $event.stopPropagation();" style="right:24px;">Just remove repo</button>
            </span>
          </div>
        </td>

      </tr>
    </table>
  </div>

</div>
