<div class="row">
	<div class="col-md-12">

		<p class="lead">Repositories</p>

		<i class="fa fa-spin fa-spinner fa-3x center-block" ng-show="repos.length===0" style="text-align:center; display:block; margin:0 auto;"></i>

		<div class="list-group" collapse="configure" style="margin:0;" ng-show="repos.length">
			<a class="list-group-item" ng-repeat="repo in repos | deep:'ninja.ninja' | orderBy:'name'" ui-sref="repo({ user:repo.owner.login, repo:repo.name })">
				{{ repo.full_name }}
			</a>
			<a class="list-group-item" href="" ng-click="configure=!configure"><i class="fa fa-gear"></i> <strong>Configure</strong></a>
		</div>

		<div class="list-group" collapse="!configure" style="margin:0;">
			<a class="list-group-item" href="" ng-click="configure=!configure"><i class="fa fa-gear"></i> <strong>Configure</strong></a>
			<span class="list-group-item" ng-repeat="repo in repos | deep:'permissions.admin' | orderBy:'name'">
				{{ repo.full_name }}
				<span class="pull-right" style="height:24px; margin-top:-3px;">
					<bs-switch height="24px" type="checkbox" ng-model="repo.ninja.ninja" ng-change="toggle(repo)" switch-size="small"></bs-switch>
				</span>
			</span>
		</div>

	</div>
</div>