
<div class="row">
  <div class="col-md-3 sidebar-left">
    <!--<h2 class="lead"><a ui-sref="repo({ user: repo.value.owner.login, repo:repo.value.name })">{{ repo.value.full_name }}</a></h2>-->
    <h2 class="lead">{{ repo.value.full_name }}</h2>
    <h2>{{ issue.value.title }} #{{ issue.value.number }}</h2>
    <div class="well">{{ issue.value.body }}</div>
    <div class="well" ng-repeat="comment in comments.value">{{ comment.body }}</div>
    <div class="form-group">
      <textarea ng-model="newCommentBody" ng-init="newCommentBody=''" class="form-control" placeholder="Comment body..." />
    </div>
    <div class="form-group">
      <button class="form-control btn btn-default" ng-click="comment()">COMMENT</button>
    </div>
  </div>
  <div class="col-md-9 col-md-offset-3">
    <div ng-show="issue.value.sha">
      <a href="" ng-click="compComm(pull.value.base.head_sha, pull.value.head.sha)">Compare to head of {{ pull.value.base.ref }}</a> 
      &bull; 
      <a href="" ng-click="compComm(pull.value.base.sha, pull.value.head.sha)">Compare to base on {{ pull.value.base.ref}}</a> 
      &bull; 
      <a href="" ng-click="compComm(issue.value.sha, pull.value.head.sha)">Compare to {{ issue.value.sha | limitTo:7 }} (where issue was created)</a>
    </div>

    <div ng-repeat="file in files.value" class="panel panel-default" style="margin:20px 0 0 20px;">
      <div class="panel-heading">
        <strong>
          {{ file.filename }}
        </strong>
        <!-- <span class="pull-right">
          <small>status: {{ file.status }} | {{ file.additions }} additions | {{ file.deletions }} deletions | {{ file.changes }} changes</small>
        </span> -->
      </div>

      <div class="panel-body" ng-show="file.status=='renamed'">
        This file was renamed.
      </div>

      <div class="panel-body" ng-show="file.status=='modified' || file.status=='added' || file.status=='removed'" style="padding:0;">
        <diff lines="file.lines.lines"></diff>
      </div>
    </div>
  </div>
</div>
