<div class="row">
  <div class="col-md-8 col-md-offset-2 main">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">{{ repo.value.full_name }} <a ui-sref="repo.settings({ user:repo.value.owner.login, repo:repo.value.name })"><i class="fa fa-cog"></i></a></p>
        <h4>Pull Requests</h4>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">
        <tabset>
        <tab heading="Open">

          <table class="table">
            <tr ng-repeat="pull in open.value" ng-class="{'success': pull.watched}">
              <td>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-1x fa-inverse fa-code-fork"></i>
                </span>
              </td>
              <td>
                <a ui-sref="repo.pull.issue.master({ number: pull.number })">{{ pull.title }}</a><br />
                <img ng-src="{{ pull.user.avatar_url }}" width="16px;" /> <small>{{ pull.user.login }} <span moment="pull.created_at"></span></small>
              </td>
              <td>
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" class="merge pull-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 180 40" enable-background="new 0 0 180 40" xml:space="preserve" width="400px" height="40px">
                  <path class="git-base" stroke-width="4" stroke-miterlimit="10" d="M 103 6 L 171 6"/>
                  <polygon class="git-graph-arrow" points="171,1.7 180,5.6 171,9.6 "/>
                  <path class="git-head" stroke-width="4" stroke-miterlimit="10" d="M152.5,4.8c-7,2.5-7,12.5-15.6,18.6
                  c-6.7,4.8-11.7,5-33.3,5"/>
                  <circle class="git-commit" cx="103" cy="28.1" r="4.8"/>
                  <text class="git-base" y="10" x="95" text-anchor="end">{{ pull.base.ref }}</text>
                  <circle class="git-commit" cx="103" cy="5.6" r="4.8"/>
                  <text class="git-head" y="33" x="95" text-anchor="end">{{ pull.head.ref }}</text>
                  <circle class="git-commit" cx="148.6" cy="5.6" r="4.8"/>
                </svg>
              </td>
              <td style="text-align:right;">
                <i class="fa fa-star" ng-repeat="star in pull.stars"></i>
              </td>
            </tr>
          </table>
          <p class="well text-center empty-notice" ng-show="open.value.length == 0">There are no open pull requests.</p>

          <button type="button" class="btn btn-default" ng-click="open.getMore()" ng-show="open.hasMore">Next</button>

        </tab>


        <tab heading="Closed" style="text-size:12px">
          <table class="table">
            <tr ng-repeat="pull in closed.value" ng-class="{'success': pull.watched}">
              <td>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-1x fa-inverse fa-code-fork"></i>
                </span>
              </td>
              <td>
                <a ui-sref="repo.pull.issue.master({ number: pull.number })">{{ pull.title }}</a><br />
                <img ng-src="{{ pull.user.avatar_url }}" width="16px;" /> <small>{{ pull.user.login }} <span moment="pull.created_at"></span></small>
              </td>
              <td>
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" class="merge pull-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 180 40" enable-background="new 0 0 180 40" xml:space="preserve" width="400px" height="40px">
                  <path class="git-base" stroke-width="4" stroke-miterlimit="10" d="M 103 6 L 171 6"/>
                  <polygon class="git-graph-arrow" points="171,1.7 180,5.6 171,9.6 "/>
                  <path class="git-head" stroke-width="4" stroke-miterlimit="10" d="M152.5,4.8c-7,2.5-7,12.5-15.6,18.6
                  c-6.7,4.8-11.7,5-33.3,5"/>
                  <circle class="git-commit" cx="103" cy="28.1" r="4.8"/>
                  <text class="git-base" y="10" x="95" text-anchor="end">{{ pull.base.ref }}</text>
                  <circle class="git-commit" cx="103" cy="5.6" r="4.8"/>
                  <text class="git-head" y="33" x="95" text-anchor="end">{{ pull.head.ref }}</text>
                  <circle class="git-commit" cx="148.6" cy="5.6" r="4.8"/>
                </svg>
              </td>
              <td style="text-align:right;">
                <i class="fa fa-star" ng-repeat="star in pull.stars"></i>
              </td>
            </tr>
          </table>
          <p class="well text-center empty-notice" ng-show="closed.value.length == 0">There are no closed pull requests.</p>
          
          <button type="button" class="btn btn-default" ng-click="closed.getMore()" ng-show="closed.hasMore">Next</button>
          <i class="fa fa-spinner fa-spin" ng-show="closed.loading"></i>

        </tab>
        </tabset>
      </div>

    </div>


  </div>
</div>
