
<div class="row">
    <div class="col-sm-24 main">

        <p class="lead">{{ repo.value.full_name }}</p>

        <tabset>
        	<tab heading="Pull Requests">

        		<!-- Branches filter -->
        		<div class="btn-group">
        		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        		    {{ selectedfilters.branch  || 'All branches'}}
        		    <span class="caret"></span>
        		  </a>
        		  <ul class="dropdown-menu">
        		  	<li>
        		  		<a href="#" ng-href="#" ng-click="selectFilter('branch', null)">All branches</a>
        		  	</li>
        		  	<li ng-show="branches.loading">Loading branches...</li>
        		  	<li ng-repeat="branch in branches.value" ng-show="branches.loaded">
        		  		<a href="#" ng-href="#" ng-click="selectFilter('branch', branch.name)">{{ branch.name }}</a>
        		  	</li>
        		  </ul>
        		</div>

        		<!-- Pull Request Status filter -->
        		<div class="btn-group">
        		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        		    {{ selectedfilters.state || 'All pull request states'}}
        		    <span class="caret"></span>
        		  </a>
        		  <ul class="dropdown-menu">
        		  	<li>
        		  		<a href="#" ng-href="#" ng-click="selectFilter('state', null)">All pull request states</a>
        		  	</li>
        		  	<li ng-repeat="state in pullRequestStates">
        		  		<a href="#" ng-href="#" ng-click="selectFilter('state', state)">{{ state }}</a>
        		  	</li>
        		  </ul>
        		</div>

        		<br>
        		<br>

        		<i class="fa fa-spin fa-spinner fa-3x center-block" ng-show="!pulls" style="text-align:center; display:block; margin:0 auto;"></i>

        <table class="table">
          <tr ng-repeat="pull in pullsFiltered">
            <td>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" ng-class="{'done': pull.allIssuesResolved && pull.hasIssues, 'issues': !pull.allIssuesResolved && pull.hasIssues}"></i>
                <i class="fa fa-stack-1x fa-inverse fa-code-fork"></i>
              </span>
            </td>
            <td><a ui-sref="repo.pull({ number:pull.number })">{{ pull.title }}</a><br /><img ng-src="{{ pull.user.avatar_url }}" width="16px;" /> <small>{{ pull.user.login }} <span moment="pull.created_at"></span></small></td>
            <td>
              <td>
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" class="merge pull-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 180 40" enable-background="new 0 0 180 40" xml:space="preserve" width="400px" height="40px">
                  <path class="git-base" stroke-width="4" stroke-miterlimit="10" d="M 103 6 L 171 6"/>
                  <polygon class="git-graph-arrow" points="171,1.7 180,5.6 171,9.6 "/>
                  <path class="git-head" stroke-width="4" stroke-miterlimit="10" d="M152.5,4.8c-7,2.5-7,12.5-15.6,18.6
                  c-6.7,4.8-11.7,5-33.3,5"/>
                  <circle class="git-commit" cx="103" cy="28.1" r="4.8"/>
                  <text class="git-base" y="10" x="95" text-anchor="end">{{ pull.base.ref }}</text>
                  <circle class="git-commit" cx="103" cy="5.6" r="4.8"/>
                  <text class="git-head" y="33" x="95" text-anchor="end">{{ pull.head.ref }}</text>
                  <circle class="git-commit" cx="148.6" cy="5.6" r="4.8"/>
                </svg>
              </td>
              <td style="text-align:right;">
                <i class="fa fa-star" ng-repeat="star in pull.stars"></i>
              </td>
            </tr>
            </table>

        		<!-- <div class="well text-center" ng-show="pulls.length===0">
        			<i class="fa fa-lg fa-code-fork"></i> Pull reqests will show up here.
        		</div>

        		<div class="list-group">
        			<a class="list-group-item" ng-repeat="pull in pullsFiltered" ui-sref="pull({ user:repo.value.owner.login, repo:repo.value.name, number:pull.number })">
        				<span class="label pull-right" ng-class="{'label-default':pull.status==='pending', 'label-success':pull.status==='approved', 'label-danger':pull.status==='rejected'}" style="margin-top:12px">
        					review is {{ pull.status }}
        				</span>
        				<span class="label pull-right" ng-class="{'label-success':pull.state==='open', 'label-danger':pull.state==='closed'}" style="margin-top:12px;margin-right: 8px;">{{ pull.state }}</span>
        				<i class="fa fa-code-fork"></i> {{ pull.title }} ({{ pull.head.ref }})<br />
        				<img ng-src="{{ pull.user.avatar_url }}" width="16px;" /> <small>{{ pull.user.login }} <span moment="pull.created_at"></span></small>
        			</a>
        		</div> -->

        	</tab>

        	<tab heading="Bots">

        		<i class="fa fa-spin fa-spinner fa-3x center-block" ng-show="bots.loading" style="text-align:center; display:block; margin:0 auto;"></i>

        		<div class="well text-center" ng-show="bots.value.length===0 && !add">
        			Click <i class="fa fa-plus"></i> to create a bot.
        		</div>

        		<div class="list-group">
        			<span class="list-group-item" ng-repeat="bot in bots.value">
        				{{ bot.name }} &mdash; <small>{{ origin }}/vote/{{ bot._id }}/:sha</small>
        				<span class="pull-right" style="height:24px; margin-top:-3px;">
        					<bs-switch height="24px" type="checkbox" ng-model="blah" switch-size="small"></bs-switch>
        				</span>
        			</span>
        			<span class="list-group-item" role="form" ng-show="add">
        				<form ng-submit="addBot(name); name=null; add=false;" style="margin:0;">
        					<div class="input-group">
        						<input ng-model="name" focus="add" type="text" class="form-control" />
        						<span class="input-group-btn">
        							<button type="submit" class="btn btn-primary" ng-disabled="!valid">Add</button>
        						</span>
        					</div>
        				</form>
        				<validate arg="name" against="botNames" valid="valid" invalid-text="{{ name }} bot already exists" invalid-icon="fa-exclamation"></validate>
        			</span>
        		</div>

        		<button type="button" class="btn btn-default pull-right" ng-click="add=!add">
        			<i class="fa fa-times" ng-show="add"></i>
        			<i class="fa fa-plus" ng-show="!add"></i>
        		</button>
        		
        	</tab>
        </tabset>
    </div>
</div>
