<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-md-12">

        <h4>
          <span class="bread-crumb" ui-sref="repo.list()">{{ repo.value.full_name }}</span> 
          <i class="fa fa-cog bread-crumb pull-right" ui-sref="repo.settings()"></i>
        </h4>
        
        <h2><i class="fa fa-code-fork"></i> Pull Requests</h2>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="well well-sm">
          <a href="" class="btn btn-link" ng-click="type='open'" ng-class="{active: type==='open'}">
            <i class="fa fa-exclamation-circle"></i> Open
          </a>
          <a href="" class="btn btn-link" ng-click="type='closed'" ng-class="{active: type==='closed'}">
            <i class="fa fa-check"></i> Closed
          </a>
        </div>

        <table class="table table-hover pull-list" ng-show="matched.length">
          <tr ng-repeat="pull in (matched = (type==='open' ? open.value : closed.value))">

            <td class="watched" ng-class="{active: pull.watched}"></td>

            <td style="width:50px;">
              <img ng-src="{{ pull.user.avatar_url }}&s=50" width="50px" />
            </td>

            <td>
              <a ui-sref="repo.pull.issue.master({ number: pull.number })">{{ pull.title }}</a><br />
              <small>#{{ pull.number }} opened <span moment="pull.created_at"></span> by {{ pull.user.login }}</small>
            </td>

            <td class="text-center" style="width:45px;">
              <i class="fa fa-lg fa-exclamation-circle text-warning" ng-show="pull.open_issue"></i>
              <i class="fa fa-lg fa-check text-primary muted" ng-show="pull.closed_issue && !pull.open_issue"></i>
            </td>

            <td class="text-center" style="width:45px;">
              <span class="text-primary" ng-show="pull.stars.length" ng-class="{muted: pull.open_issue}">
                <i class="fa fa-lg fa-star"></i><br />
                {{ pull.stars.length }}
              </span>
            </td>

          </tr>
        </table>

          <p class="well text-center" ng-show="type==='open' && !open.loading && !open.value.length">There are no open pull requests</p>
          <p class="well text-center" ng-show="type==='closed' && !closed.loading && !closed.value.length">There are no closed pull requests</p>

          <i class="fa fa-2x fa-spinner fa-spin center-block"
             ng-show="(type==='open' && open.loading) || (type==='closed' && closed.loading)">
          </i>

          <!-- <button type="button" class="btn btn-default" ng-click="open.getMore()" ng-show="open.hasMore">Next</button> -->

      </div>
    </div>

  </div>
</div>
