<div class="row">
  <div class="col-md-9">

    <p class="lead"><a ui-sref="repo({ user:repo.value.owner.login, repo:repo.value.name })">{{ repo.value.full_name }}</a></p>

    <div class="well row" style="margin: 0px 0px 20px 0px;">
      <div class="col-md-9">
        <h5>
          <button class="btn btn-primary" tooltip-placement="bottom" tooltip-html-unsafe="{{ stargazers.value | stargazerAccumulator }}" ng-click="{true: unstar, false: star}[starred]()"><i class="fa fa-star"></i> {{ {true: 'Unstar', false: 'Star'}[starred] }} ({{ stargazers.value.length }})</button>
          <span>
            <span class="label pull-right" ng-class="{'label-default':status.value==='pending', 'label-success':status.value==='approved', 'label-danger':status.value==='rejected'}">
              {{ status.value }}
            </span>

            {{ pull.value.title }}
            <span>
              <img class="img-circle" ng-src="{{ pull.value.user.avatar_url }}" width="18px" />
              {{ pull.value.user.login }} <small moment="pull.value.created_at"></small>
              <!-- <img ng-src="/badge/{{ repo.value.owner.login }}/{{ repo.value.name }}/{{ pull.value.head.sha }}"> -->
            </span>
          </span>
        </h5>
      </div>
      <div class="col-md-3">
        <h5>
          <button type="button" ng-show="!pull.value.merged" class="btn btn-primary btn-block" ng-click="merge()"> 
            Merge pull request
          </button>
          <small ng-show="pull.value.merged">This pull request was merged by {{ pull.value.merged_by.login }} <span moment="pull.value.merged_at"></small>
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <tabset>
        <tab heading="Diff">
        <div ng-repeat="file in files.value" class="panel panel-default" style="margin:20px;">
          <div class="panel-heading">
            <strong>
              {{ file.filename }}
            </strong>
          </div>
          <div class="panel-body" ng-show="file.status=='renamed'">
            This file was renamed.
          </div>
          <div class="panel-body" ng-show="file.status=='modified' || file.status=='added' || file.status=='removed'" style="padding:0;">
            <diff lines="file.lines.lines"></diff>
          </div>
        </div>
        </tab>
        <tab heading="Files">
        <browser data="tree"></browser>
        </tab>
        </tabset>
      </div>
    </div>
  </div>
  <!--<div class="col-md-3 issue-sidebar" ng-show="currentIssue !== null" ng-init="currentIssue=null">
      <h1>{{currentIssue.title}} #{{currentIssue.number}}</h1>
      <div class="well">{{currentIssue.body}}</div>
      <div class="well" ng-repeat="comment in currentIssue.fetchedComments.value">{{comment.body}}</div>
      <div class="form-group">
        <textarea ng-model="newCommentBody" ng-init="newCommentBody=''" class="form-control" placeholder="Comment body..." />
        </div>
        <div class="form-group">
          <button class="form-control btn btn-default" ng-click="commentOnIssue(currentIssue)">COMMENT</button>
        </div>
      </div>-->
  <div class="col-md-3">

    <!-- <div class="affix"> -->

      <button class="btn btn-danger btn-block" ng-click="showNewIssue=!showNewIssue">Create Issue</button>
      <div class="new-issue" ng-show="showNewIssue" ng-init="showNewIssue=false">
        <h5>New Issue</h5>
        <div class="form-group">
          <input ng-model="newIssue.title" ng-init="newIssue.title=''" class="form-control" placeholder="Issue title" />
        </div>
        <div class="form-group">
          <textarea ng-model="newIssue.body" ng-init="newIssue.body=''" class="form-control" placeholder="Issue body..." />
        </div>
        <div class="form-group">
          <button class="form-control btn btn-default" ng-click="createNewIssue()">CREATE</button>
        </div>
      </div>
      <ul class="nav">
        <li class="issue" ng-repeat="issue in issue.value">
          <a ui-sref="issue({ user:repo.value.owner.login, repo:repo.value.name, number:pull.value.number, issue:issue.number })">
            <span class="fa-stack closed-issue" ng-show="issue.state == 'closed'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack open-issue" ng-show="issue.state == 'open'">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
            </span>
            <span> {{ issue.title }}</span>
          </a>
        </li>
      </ul>

    <!-- </div> -->

  </div>
</div>
