<!-- <div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span>
						{{ repo.value.full_name }}
					</span>
					<span class="pull-right">
						<small>{{ comm.value.sha }}</small>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<span>
					<img ng-src="{{ comm.value.author.avatar_url}}" width="18px" />
					{{comm.value.author.login}} <small moment="comm.value.commit.committer.date"></small>
				</span>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-md-12">

		<p class="lead">{{ repo.value.full_name }}</p>

		<tabset>
			<tab heading="Pull Requests">

				<i class="fa fa-spin fa-spinner fa-3x center-block" ng-show="!pulls" style="text-align:center; display:block; margin:0 auto;"></i>

				<div class="list-group">
					<a class="list-group-item" ng-repeat="pull in pulls" ui-sref="pull({ user:repo.value.owner.login, repo:repo.value.name, number:pull.number })">
						<span class="label pull-right" ng-class="{'label-default':pull.status==='pending', 'label-success':pull.status==='approved', 'label-danger':pull.status==='rejected'}" style="margin-top:12px;">
							{{ pull.status }}
						</span>
						<i class="fa fa-code-fork"></i> {{ pull.title }}<br />
						<img ng-src="{{ pull.user.avatar_url }}" width="16px;" /> <small>{{ pull.user.login }} <span moment="pull.created_at"></span></small>
					</a>
				</div>

			</tab>

			<tab heading="Commits">

				<i class="fa fa-spin fa-spinner fa-3x center-block" ng-show="commits.loading" style="text-align:center; display:block; margin:0 auto;"></i>

				<div class="list-group">
					<a class="list-group-item" ng-repeat="commit in commits.value" ui-sref="comm({ user:repo.value.owner.login, repo:repo.value.name, sha:commit.sha })">
						<span class="label pull-right" ng-class="{'label-default':commit.status==='pending', 'label-success':commit.status==='approved', 'label-danger':commit.status==='rejected'}" style="margin-top:12px;">
							{{ commit.status }}
						</span>
						{{ commit.sha | limitTo:8 }}: {{ commit.commit.message }}<br />
						<img ng-src="{{ commit.author.avatar_url }}" width="16px;" /> <small>{{ commit.author.login }} <span moment="commit.commit.committer.date"></span></small>
					</a>
				</div>

			</tab>

			<tab heading="Bots">

				<i class="fa fa-spin fa-spinner fa-3x center-block" ng-show="bots.loading" style="text-align:center; display:block; margin:0 auto;"></i>

				<div class="list-group">
					<span class="list-group-item" ng-repeat="bot in bots.value">
						{{ bot.name }} &mdash; <small>{{ origin }}/{{ bot._id }}/:sha</small>
						<span class="pull-right" style="height:24px; margin-top:-3px;">
							<bs-switch height="24px" type="checkbox" ng-model="blah" switch-size="small"></bs-switch>
						</span>
					</span>
					<span class="list-group-item" role="form" ng-show="add">
						<form ng-submit="addBot(name); name=null; add=false;" style="margin:0;">
							<div class="input-group">
								<input ng-model="name" focus="add" type="text" class="form-control" />
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary" ng-disabled="!valid">Add</button>
								</span>
							</div>
						</form>
						<validate arg="name" against="botNames" valid="valid" invalid-text="{{ name }} bot already exists" invalid-icon="fa-exclamation"></validate>
					</span>
				</div>

				<button type="button" class="btn btn-default pull-right" ng-click="add=!add">
					<i class="fa fa-times" ng-show="add"></i>
					<i class="fa fa-plus" ng-show="!add"></i>
				</button>
				
			</tab>
		</tabset>

	</div>
</div>