<tabset class="review-tabs">
  <tab>
    <tab-heading><span class="octicon octicon-code"></span> Review Status</tab-heading>
    <table class="table"
           ng-if="noComments">
      <tr>
        <td>
          <div>
            <strong>No review comments yet!</strong>
          </div>
          <div>
            <p>Click a line in a file to add one.</p>
          </div>
        </td>
      </tr>
    </table>
    <table class="table table-hover"
           ng-repeat="(key, val) in review.thread">
      <tr class="select"
          ng-repeat="(key, val) in val"
          ng-click="$state.go('repo.pull.review.reviewItem', {
              base: pull.head.sha !== $parent.key ? $parent.key : pull.base.sha, 
              sha: $parent.key, 
              ref: key
            })">
        <td style="width:40px; padding-right:0;">
          <img ng-src="{{ val.comments[0].user.avatar_url }}&s=42" width="42px" />
        </td>
        <td>
          <p>
            <strong>{{ val.comments[0].user.login }}</strong> reviewed 
            <span class="label label-default">{{ $parent.key | limitTo:7 }}: {{ key.split('/').pop() }}</span><br />
            {{ val.comments[0].body | limitTo:100 }}<span ng-show="val.comments[0].body.length > 100">...</span><br />
            <small moment="val.comments[val.comments.length-1].created_at"></small>
          </p>
          <div dropdown class="btn-group" ng-click="$event.stopPropagation()">
            <button dropdown-toggle 
                    class="btn btn-sm btn-default dropdown-toggle" 
                    ng-class="{'btn-danger': val.state === 'open', 'btn-success': val.state === 'closed'}" 
                    type="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="true">
              {{ val.label }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-hide="val.state === 'open'">
                <a href="" ng-click="addCommentFromDropdown('!fix', {sha: $parent.key, ref: key})">!fix</a>
              </li>
              <li ng-hide="val.state === 'open'">
                <a href="" ng-click="addCommentFromDropdown('!resolve', {sha: $parent.key, ref: key})">!resolve</a>
              </li>
              <li ng-hide="val.state === 'closed'">
                <a href="" ng-click="addCommentFromDropdown('!fixed', {sha: $parent.key, ref: key})">!fixed</a>
              </li>
              <li ng-hide="val.state === 'closed'">
                <a href="" ng-click="addCommentFromDropdown('!resolved', {sha: $parent.key, ref: key})">!resolved</a>
              </li>
              <li ng-hide="val.state === 'closed'">
                <a href="" ng-click="addCommentFromDropdown('!completed', {sha: $parent.key, ref: key})">!completed</a>
              </li>
            </ul>
          </div>
        </td>
        <td class="text-center text-primary" style="width:50px; padding-left:0;">
          <i class="octicon octicon-comment"></i>
          {{ val.comments.length }}
        </td>
      </tr>
    </table>

    <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="review.loading" style="margin-top: 10px;"></i>

  </tab>
  
  <tab>
    <tab-heading><span class="octicon octicon-comment-discussion"></span> Pull Request Conversation</tab-heading>
    <div style="padding:20px 10px; margin-bottom:20px;">
      <table style="width:100%;">
        <tr ng-repeat="comment in conversation.value" ng-show="comment.html">
          <td style="width:42px; padding-right:10px; vertical-align:top;">
            <img ng-show="comment.user" ng-src="{{ comment.user ? comment.user.avatar_url + '&s=42' : '/assets/images/user_deleted.jpg'}}" width="42px" />
          </td>
          <td>
            <div class="panel panel-default comment">
              <div class="panel-heading">
                <div class="panel-arrow"></div>
                <strong>{{ comment.user.login }}</strong> commented <span moment="comment.created_at"></span>
              </div>
              <div class="panel-body" ng-bind-html="comment.html"></div>
            </div>
          </td>
        </tr>
      </table>

      <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="conversation.loading"></i>

      <form role="form" ng-submit="addComment(comment); comment=null;">
        <table style="width:100%" ng-show="!conversation.loading && !conversation.hasMore">
          <tr>
            <td style="width:42px; padding-right:10px; vertical-align:top;">
              <img ng-src="{{ user.value.avatar_url }}&s=42" width="42px" />
            </td>
            <td>
              <div class="panel panel-default comment">
                <div class="panel-heading">
                  <div class="panel-arrow"></div>
                  <strong>{{ user.value.login }}</strong>
                </div>
                <div class="panel-body" style="padding:0;">
                  <textarea class="form-control" ng-model="comment" rows="4" placeholder="Leave pull request comment"></textarea>
                </div>
              </div>

              <div class="pull-right">
                <i class="fa fa-lg fa-spinner fa-spin" ng-show="commenting.loading" style="margin-right:10px;"></i>
                <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="conversation.loading"></i>
                <button type="submit" class="btn btn-primary"  ng-disabled="!comment">Comment</button>
              </div>
              <div style="clear:both;"></div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </tab>
</tabset>
