<tabset class="review-tabs">
  <tab>
    <tab-heading><span class="octicon octicon-code"></span> Review Status</tab-heading>
    <table class="table"
           ng-if="noComments">
      <tr>
        <td>
          <div>
            <p><strong>Welcome to Review Status!</strong></p>
            <p>This is where code review comments (line notes) and review statuses live.</p>
            <p>As line notes and statuses are created, they’ll appear here in a list. To get started, click on a line of code to add a comment.</p>
          </div>
        </td>
      </tr>
    </table>
    <table class="table table-hover">
      <tr class="select"
          ng-repeat="(ref, thread) in review.thread"
          ng-click="$state.go('repo.pull.review.reviewItem', {
              base: pull.base.sha,
              head: thread.sha,
              ref: ref
            })">
        <td style="width:40px; padding-right:0;">
          <img ng-src="{{ thread.avatar }}&s=42" width="42px" />
        </td>
        <td>
          <p>
            <strong>{{ thread.author }}</strong> reviewed 
            <span class="label label-default">{{ thread.sha | limitTo:7 }}: {{ thread.file }}</span><br />
            {{ thread.body | limitTo:100 }}<span ng-show="thread.body.length > 100">...</span><br />
            <small moment="thread.last_updated"></small>
          </p>
          <div dropdown class="btn-group" ng-class="{'wobble-vertical': $root.ob === 'ob-addstatus' && $index === 0}" ng-click="$event.stopPropagation()" is-open="dropdownOpen">
            <button dropdown-toggle 
                    class="btn btn-sm btn-default dropdown-toggle" 
                    ng-class="{'btn-danger': thread.state === 'open', 'btn-success': thread.state === 'closed'}" 
                    type="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="true">
              {{ thread.label }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-hide="thread.state === 'open'">
                <a href="" ng-click="addReviewComment('!fix', ref); dropdownOpen = false;">!fix</a>
              </li>
              <li ng-hide="thread.state === 'open'">
                <a href="" ng-click="addReviewComment('!resolve', ref); dropdownOpen = false;">!resolve</a>
              </li>
              <li ng-hide="thread.state === 'closed'">
                <a href="" ng-click="addReviewComment('!fixed', ref); dropdownOpen = false;">!fixed</a>
              </li>
              <li ng-hide="thread.state === 'closed'">
                <a href="" ng-click="addReviewComment('!resolved', ref); dropdownOpen = false;">!resolved</a>
              </li>
              <li ng-hide="thread.state === 'closed'">
                <a href="" ng-click="addReviewComment('!completed', ref)">!completed</a>
              </li>
            </ul>
          </div>
        </td>
        <td class="text-center text-primary" style="width:50px; padding-left:0;">
          <i class="octicon octicon-comment"></i>
          {{ thread.comments.length }}
        </td>
      </tr>
    </table>

    <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="review.loading" style="margin-top: 10px;"></i>

  </tab>
  
  <tab>
    <tab-heading><span class="octicon octicon-comment-discussion"></span> Pull Request Conversation</tab-heading>
    <div style="padding:20px 10px; margin-bottom:20px;">
      <table style="width:100%;">
        <tr ng-repeat="comment in conversation.value" ng-show="comment.html">
          <td style="width:42px; padding-right:10px; vertical-align:top;">
            <img ng-show="comment.user" ng-src="{{ comment.user ? comment.user.avatar_url + '&s=42' : '/assets/images/user_deleted.jpg'}}" width="42px" />
          </td>
          <td>
            <div class="panel panel-default comment">
              <div class="panel-heading">
                <div class="panel-arrow"></div>
                <strong>{{ comment.user.login }}</strong> commented <span moment="comment.created_at"></span>
              </div>
              <div class="panel-body" ng-bind-html="comment.html"></div>
            </div>
          </td>
        </tr>
      </table>

      <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="conversation.loading"></i>

      <form role="form" ng-submit="addComment(comment); comment=null;">
        <table style="width:100%" ng-show="!conversation.loading && !conversation.hasMore">
          <tr>
            <td style="width:42px; padding-right:10px; vertical-align:top;">
              <img ng-src="{{ user.value.avatar_url }}&s=42" width="42px" />
            </td>
            <td>
              <div class="panel panel-default comment">
                <div class="panel-heading">
                  <div class="panel-arrow"></div>
                  <strong>{{ user.value.login }}</strong>
                </div>
                <div class="panel-body" style="padding:0;">
                  <textarea class="form-control" ng-model="comment" rows="4" placeholder="Leave pull request comment"></textarea>
                </div>
              </div>

              <div class="pull-right">
                <i class="fa fa-lg fa-spinner fa-spin" ng-show="commenting.loading" style="margin-right:10px;"></i>
                <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="conversation.loading"></i>
                <button type="submit" class="btn btn-primary"  ng-disabled="!comment">Comment</button>
              </div>
              <div style="clear:both;"></div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </tab>
</tabset>
