<div class="modal-header">
    <h3 class="modal-title" style="display:inline-block;">Be proud of ReviewNinja</h3>
    <p class="pull-right"><img src="/assets/images/wereviewninja-32.png" /></a></p>
</div>
<div class="modal-body">
    <p>Display your badge of honour proudly on GitHub by copy and pasting the following into your README file:</p>
    <pre>[![ReviewNinja]({{ origin }}/assets/images/wereviewninja-32.png)]({{ origin + '/' + $stateParams.user + '/' + $stateParams.repo }})</pre>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
