<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-md-12">

        <ol class="breadcrumb">
          <li><a ui-sref="repo.master()">{{ repo.value.owner.login }} / {{ repo.value.name }}</a></li>
          <li class="pull-right settings-icon"><a ui-sref="repo.settings()"><span class="octicon octicon-gear"></span></a></li>
          <li class="pull-right" style="margin-top:-8px;"><a href="" ng-click="badge()"><img src="/assets/images/wereviewninja-32.png" /></a></li>
        </ol>
        
        <h2><span class="mega-octicon octicon-git-pull-request"></span> Pull Requests</h2>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="well well-sm">
          <a href="" class="btn btn-link" ng-click="type='open'" ng-class="{active: type==='open'}">
            <span class="octicon octicon-issue-opened"></span> Open
          </a>
          <a href="" class="btn btn-link" ng-click="type='closed'" ng-class="{active: type==='closed'}">
            <span class="octicon octicon-issue-closed"></span> Closed
          </a>
          <div class="btn-group pull-right">
            <a href="" class="btn btn-link dropdown-toggle author" ng-class="{active: author}" data-toggle="dropdown">
              Author <small><i class="fa fa-chevron-down"></i></small>
            </a>
            <ul class="dropdown-menu" role="menu" ng-show="authors">
              <li ng-show="author">
                <a href="" ng-click="author=null">
                  <i class="fa fa-times-circle-o"></i> Clear author
                </a>
              </li>
              <li ng-show="author" class="divider"></li>
              <li ng-repeat="(key, val) in authors">
                <a href="" ng-click="$parent.author=key">
                  <i ng-show="$parent.author===key"></i> {{ key }}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <table class="table table-hover pull-list" 
               infinite-scroll="type==='open' ? open.getMore() : closed.getMore()" 
               infinite-scroll-disabled="type==='open' ? !(!open.loading && !author) : !(!closed.loading && !author)"
               ng-show="matched.length">

          <tr ng-repeat="pull in (matched = ((type==='open' ? open.value : closed.value) | deep:'user.login':author))">
            <td class="watched" ng-class="{active: pull.watched}"></td>

            <td style="width:50px; padding-right:0;">
              <img ng-src="{{ pull.user.avatar_url }}&s=50" width="50px" />
            </td>

            <td>
              <a ui-sref="repo.pull.issue.master({ number: pull.number, state:'open' })">{{ pull.title }}</a><br />
              <small>#{{ pull.number }} opened <span moment="pull.created_at"></span> by {{ pull.user.login }}</small>
            </td>

            <td>
              <table class="git-merge text-primary">
                <tr>
                  <td><small>{{ pull.base.ref }}</small></td>
                  <td rowspan="2"><span class="mega-octicon octicon-git-pull-request octicon-rotate"></span></td>
                </tr>
                <tr>
                  <td><small>{{ pull.head.label }}</small></td>
                </tr>
              </table>
            </td>

            <td class="text-center" style="width:45px;">
              <span class="octicon octicon-large octicon-issue-opened text-warning" ng-show="pull.open_issue"></span>
              <span class="octicon octicon-large octicon-issue-closed text-primary" ng-show="pull.closed_issue && !pull.open_issue"></span>
            </td>

            <td class="text-center" style="width:45px;">
              <span class="text-primary" ng-show="pull.stars.length" ng-class="{muted: pull.open_issue}">
                <span class="fa-lg icon-ninja-star"></span><br />
                {{ pull.stars.length }}
              </span>
            </td>
          </tr>
          
        </table>

        <p class="well text-center" ng-show="type==='open' && !open.loading && !matched.length">
          There are no open pull requests to show <a href="" ng-show="author" ng-click="author=null">clear author</a>
        </p>

        <p class="well text-center" ng-show="type==='closed' && !closed.loading && !matched.length">
          There are no closed pull requests to show <a href="" ng-show="author" ng-click="author=null">clear author</a>
        </p>

        <i class="fa fa-2x fa-spinner fa-spin center-block"
           ng-show="(type==='open' && open.loading) || (type==='closed' && closed.loading)">
        </i>

      </div>
    </div>

  </div>
</div>
