
<table style="width:100%">

    <tr>
        <td class="back-angle" style="padding-left:10px;">
            <h3><a class="text-primary" ui-sref="repo.pull.issue.master()"><i class="fa fa-chevron-left"></i></a></h3>
        </td>
        <td>
            <p class="issueheading"><span class="octicon octicon-issue-opened"></span> {{ issue.title }} <span class="text-gray">#{{ issue.number }}<span></p>
        </td>
        <td class="text-right" ng-class="{true: 'zerocomments', false: 'morecomments'}[comments.value.length === 0]" style="padding-right:10px;">
          <i class="octicon octicon-comment"></i> {{ comments.value.length }}
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <p style="margin-bottom:5px;">{{ issue.user.login }} opened this issue <span moment="issue.created_at"></span></p>
            <span ng-show="issue.ref"><i class="fa fa-link text-warning"></i> This issue is linked to {{ issue.ref }}</span>
        </td>
        <td></td>
    </tr>
</table>

<div infinite-scroll="comments.getMore()" 
     infinite-scroll-disabled="comments.loading"
     style="padding:20px 10px; margin-bottom:20px;">

    <table style="width:100%" ng-show="issue.body">
        <tr>
            <td style="width:42px; padding-right:10px; vertical-align:top;">
                <img ng-src="{{ issue.user.avatar_url }}&s=42" width="42px" />
            </td>
            <td>
                <div class="panel panel-default comment">
                    <div class="panel-heading">
                        <strong>{{ issue.user.login }}</strong> commented <span moment="issue.created_at"></span>
                    </div>
                    <div class="panel-body" ng-bind-html="issue.html"></div>
                </div>
            </td>
        </tr>
    </table>

    <table style="width:100%">
        <tr ng-repeat="comment in comments.value">
            <td style="width:42px; padding-right:10px; vertical-align:top;">
                <img ng-src="{{ comment.user.avatar_url }}&s=42" width="42px" />
            </td>
            <td>
                <div class="panel panel-default comment">
                    <div class="panel-heading">
                        <strong>{{ comment.user.login }}</strong> commented <span moment="comment.created_at"></span>
                    </div>
                    <div class="panel-body" ng-bind-html="comment.html"></div>
                </div>
            </td>
        </tr>
    </table>

    <i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="comments.loading"></i>

    <form role="form" ng-submit="addComment()">
        <table style="width:100%" ng-show="!comments.loading && !comments.hasMore">
            <tr>
                <td style="width:42px; padding-right:10px; vertical-align:top;">
                    <img ng-src="{{ user.value.avatar_url }}&s=42" width="42px" />
                </td>
                <td>
                    <div class="panel panel-default comment">
                        <div class="panel-heading"><strong>{{ user.value.login }}</strong></div>
                        <div class="panel-body" style="padding:0;">
                            <textarea class="form-control" ng-model="comment" rows="4" placeholder="Leave an issue comment"></textarea>
                        </div>
                    </div>

                    <div class="pull-right">
                      <i class="fa fa-lg fa-spinner fa-spin" ng-show="set.loading || commenting.loading" style="margin-right:10px;"></i>
                      <button type="button" class="btn btn-info" ng-click="setState()" ng-disabled="set.loading">
                        {{ issue.state==='open' ? 'Close' : 'Reopen' }} issue
                      </button>
                      <button type="submit" class="btn btn-primary"  ng-disabled="!comment">Comment</button>
                    </div>
                    <div style="clear:both;"></div>
                </td>
            </tr>
        </table>
    </form>

</div>

