<p class="lead"><a ui-sref="repo.pull.issue.master()"><i class="fa fa-chevron-left"></i></a> Issues</p>

<h4>{{ issue.title }} <small>#{{ issue.number }}</small></h4>
<h5>
    <span class="label" ng-class="{ 'label-success':issue.state==='open',
                                    'label-danger':issue.state==='closed'}">
        <i class="fa fa-exclamation-circle"></i> {{ issue.state }}
    </span> 
    &nbsp;{{ issue.user.login }} opened this issue <span moment="issue.created_at"></span>
</h5>
<table>
    <tr ng-repeat="comment in issue.comments.value" style="height:100px">
        <td><img ng-src= '{{comment.user.avatar_url}}&s=50' style="float:left; width:50px;">
        <strong ><span>{{ comment.body }}</span></strong>
        <br>
        <i> <span moment="comment.created_at"></span></i></td>
    </tr>
</table>
<input type="input" ng-model= "comment_text" class="form-control" placeholder="Comment" style="margin-top:100px">
<div class="pull-right">
    <button type="button" class="btn btn-sm btn-default" ng-click="toggle(issue)" ng-show="issue.state==='open'">
        Close issue
    </button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggle(issue)" ng-show="issue.state==='closed'">
        Reopen issue
    </button>
    <button type="button" class="btn btn-sm btn-primary" ng-click="comment()">
        Comment
    </button>
</div>