<table class="table table-hover"
       infinite-scroll="issues.getMore()"
       infinite-scroll-disabled="$stateParams.issues ? true : issues.loading">

  <tr class="select" ng-repeat="issue in issues.value" ui-sref="repo.pull.issue.detail({ issue: issue.number })">
    <td width="50px">
      <img ng-src="{{ issue.user.avatar_url }}&s=40" width="40px" />
    </td>
    <td>
      <strong>#{{ issue.number }} {{ issue.title }}</strong><br />
      <p ng-show="issue.body" style="word-break:break-all;">{{ issue.body | limitTo:250 }}</p>
      <small moment="issue.created_at"></small>
    </td>
    <td class="text-right">
      <i class="fa fa-lg fa-link text-warning" ng-show="issue.ref"></i>
    </td>
    <td class="text-right text-primary" style="padding-right:15px;">
      <i class="fa fa-lg fa-comments"></i><br />
      {{ issue.comments }}
    </td>
  </tr>

</table>

<i class="fa fa-2x fa-spinner fa-spin center-block" ng-show="issues.loading"></i>
