<div class="panel panel-default inverse">

    <div class="panel-heading">
      <span class="lead">Issues</span>
      <span class="fa-stack" style="margin-top:-5px;" ng-click="show=true">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-plus fa-stack-1x" style="font-size:20px;"></i>
      </span>
      <div class="pull-right">
        <a ui-sref="repo.pull.issue.master({issues: null})" 
           ng-click="state='open'" 
           class="btn btn-link inverse"
           ng-class="{active:state === 'open'}">
          <span class="octicon octicon-issue-opened"></span> Open
        </a>
        <a ui-sref="repo.pull.issue.master({issues: null})" 
           ng-click="state='closed'"
           class="btn btn-link inverse"
           ng-class="{active:state === 'closed'}">
          <span class="octicon octicon-issue-closed"></span> Closed
        </a>
      </div>
    </div>

    <div class="panel-body" ng-show="show || selection[0]" ng-class="{highlight: highlight}">
        <table style="width:100%;">
          <tr>
            <td style="width:48px; vertical-align:top; padding-right:10px;">
              <img ng-src="{{ user.value.avatar_url }}&s=48" width="48" />
            </td>
            <td>
              <form role="form" ng-submit="createIssue()">
                <div class="form-group">
                  <input type="text" ng-model="title" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <textarea class="form-control" 
                            ng-model="description" 
                            rows="3" 
                            placeholder="Description">
                  </textarea>
                </div>
                <div class="form-group" style="margin:0;">
                  <div class="btn-group" ng-show="selection[0] && !creating.loading" >
                    <button type="button" 
                            class="btn btn-simple" 
                            tooltip="{{ selection[0].path }}"
                            tooltip-placement="bottom"
                            style="border-right:none;">
                      <i class="fa fa-lg fa-link"></i> #{{ selection[0].head }}
                    </button>
                    <button type="button" class="btn btn-simple" style="border-left:none; padding-left:0px;">
                      <i class="fa fa-times" ng-click="show=true; selection[0]=null;"></i>
                    </button>
                  </div>
                  <i class="fa fa-2x fa-spinner fa-spin" ng-show="creating.loading" style="margin-right:10px;"></i>
                  <div class="pull-right">
                    <button type="button" class="btn btn-info" ng-click="show=false; selection[0]=null;">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!title">Submit</button>
                  </div>
                </div>
                <div style="clear:both;"></div>
              </form>
            </td>
          </tr>
        </table>
    </div>
</div>

<section class="issues" ui-view></section>
