.margin {
  height: 0;
  position: absolute;
  width: 0;

  tr {
    height: 17px;
  }

  .select {
    cursor: pointer;
    margin-left: -20px;
    position: absolute;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;    
    user-select: none;

    .octicon {
      position: absolute;
    }
  }
}

.code {
  width: 100%;

  pre {
    background: none;
    border: 0;
    font-size: $code-font-size;
    margin: 0;
    padding: 0 8px;
  }

  .chunk pre,
  .number pre {
    color: $code-line-number-color;
  }

  .number {
    border-right: 1px solid $code-line-number-color;
    text-align: right;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;    
    user-select: none;

    width: 30px;
  }

  tr:not(.chunk):not(.deletion) .number {
    cursor: pointer;
  }

  //
  // Highlighting
  //

  .addition {
    background-color: #eaffea;
  }

  .deletion {
    background-color: #ffecec;
  }

  .addition:not(:hover) .code {
    background-color: #eaffea;
  }

  .deletion:not(:hover) .code {
    background-color: #ffecec;
  }

  .referenced {
    background-color: #ffc599;
  }

  .selected {
    background-color: #f8eec7;
  }

  tr:not(.chunk):hover {
    background-color: #f8eec7;
  }

  tr:not(:hover):not(.addition):not(.deletion) .code {
    background-color: #fff;
  }
}
