.diff {
  .panel-body {
    overflow-x: scroll;
    padding: 0;
  }

  .panel-title a:hover {
    cursor: pointer;
  }

  .image {
    background-color: $gray-light;
    padding: 20px;

    img {
      max-width: 100%;
    }
  }

  .ignored {
    color: $gray-dark;
  }
}
