.plus-icon {
  color: $brand-primary;

  &.fa-plus-circle:hover,
  &.fa-stack:hover .fa-circle {
    color: $brand-primary-hover;
  }
}

.status-icon {
  .icon-success {
    background-color: $brand-success;
  }
  .icon-pending {
    background-color: $brand-warning;
  }
  .icon-failure {
    background-color: $brand-danger;
  }
}
