.onboard {
  background-color: #3e9a94;
  color: #fff;
}

.taskDone {
  opacity: 0.5;
}

.fadeToHalf {
  -webkit-transition: opacity 1s; 
  transition: opacity 1s;
  opacity: 0.5;
}

.onboard-list {
  list-style-type: none;

  li {
    display: inline;
    margin-right: 7%;
    width: 15%;
  }

  li:hover {
    font-weight: 700;
    cursor: pointer;
  }

  i {
    float: right;
  }
}

.onboard-button {
  background-color: #3e9a94; 
  color: #fff;
  font-weight: 300;
  margin-left: 2%;
  padding: 2%;
}

.onboard-complete {
  font-weight: 700;
}

.hiddendefault {
  opacity: 0;
}

.octicon-fade {
  opacity: 0.3;
}

.welcome {
  background-color: #d1eaea;
}

.welcome-header {
  color: #3e9a94; 
  font-weight: bold;
}

.welcome-add {
  color: #3e9a94;
  cursor: pointer;
  text-decoration: underline;
}

// transitions for elements on the page
.pullrequest, .addissue, .closeissue, .addstar, .mergepull {
  -webkit-transition:-webkit-transform 1s;
  transition:transform 1s;
}

.rotate {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.scale {
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}

.rotate-scale {
  -webkit-transform: rotate(360deg) scale(1.5,1.5);
  transform: rotate(360deg) scale(1.5,1.5);
}

.scale-translate {
   -webkit-transform: scale(1.5,1.5) translateX(-20px);
  transform: scale(1.5,1.5) translateX(-20px);
}

.rotate-scale-translate {
   -webkit-transform: rotate(360deg) scale(1.5,1.5) translateX(-20px);;
  transform: rotate(360deg) scale(1.5,1.5) translateX(-20px);
}

// for fading out the entire taskbar
.fadeout {
  -webkit-transition: opacity 0.5s; 
  transition: opacity 0.5s;
  opacity: 0;
}

.default {
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.fadein {
  opacity: 1;
}
