.onboard-list {
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
    padding: 0 10px;

    -webkit-transition: opacity 1s; 
    transition: opacity 1s;

    .octicon-check {
      opacity: 0;
      -webkit-transition: opacity 1s; 
      transition: opacity 1s;
    }

    &.complete {
      .octicon-check {
        opacity: 1;
      }

      .text {
        opacity: 0.5;
      }
    }
  }

  li:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

// transitions for elements on the page
.pullrequest, 
.addissue, 
.closeissue, 
.addstar, 
.mergepull {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

.rotate {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.scale {
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.rotate-scale {
  -webkit-transform: rotate(360deg) scale(1.5, 1.5);
  transform: rotate(360deg) scale(1.5, 1.5);
}

.scale-translate {
  -webkit-transform: scale(1.5, 1.5) translateX(-20px);
  transform: scale(1.5, 1.5) translateX(-20px);
}

.rotate-scale-translate {
  -webkit-transform: rotate(360deg) scale(1.5, 1.5) translateX(-20px);
  transform: rotate(360deg) scale(1.5, 1.5) translateX(-20px);
}
