.panel.inverse {
  border: 0;
  margin-bottom: 0;

  .panel-heading {
    background: $gray-darker;
    border-bottom: 0;
    color: #fff;
  }

  .panel-body {
    border-bottom: 10px solid #fff;
  }
}

.panel.comment {
  display: table;
  overflow-x: hidden;
  table-layout: fixed;
  width: 100%;
  word-break: break-word;

  .panel-heading {
    background: $gray-light;
  }

  .panel-body {
    background: #fff;

    img {
      max-width: 100%;
    }

    p {
      margin: 0;
    }
  }
}
