.panel.inverse {
  border: 0;
  margin-bottom: 0;

  .panel-heading {
    background: $gray-darker;
    border-bottom: 0;
    color: #fff;
    
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;    
    user-select: none;
  }

  .panel-body {
    border-bottom: 10px solid #fff;

    -moz-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    &.highlight {
      background-color: #f8eec7;
    }
  }
}

.panel.comment {
  display: table;
  overflow-x: hidden;
  table-layout: fixed;
  width: 100%;
  word-break: break-word;

  .panel-heading {
    background: $gray-light;
  }

  .panel-arrow {
    border-bottom: 10px solid transparent; 
    border-right: 8px solid $gray-light; 
    border-top: 10px solid transparent;
    height: 0; 
    margin-left: -24px;
    position: absolute;
    width: 0; 
  }

  .panel-body {
    background: #fff;

    img {
      max-width: 100%;
    }

    p {
      margin: 0;
    }
  }
}
