table {
  background: none;
}

.table:not(.table-plain) {
  background: $gray-lighter;

  > tbody > tr > td {
    border-bottom: 10px solid #fff;
  }
}

.table.table-plain {
  border: 1px solid $gray-light;

  th {
    background: $gray-lighter;
    padding: 10px 15px;
  }
  
  td {
    border-top: 1px solid $gray-light;
    padding: 10px 15px;
  }
}

.table-hover {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;    
  user-select: none;

  tr.select:hover {
    cursor: pointer;
  }
}
