.table-special {

  > tbody > tr > td {
    border-top: 0;
    padding: 0;
  }

  .select {
    background: $gray-lighter;
    padding: 20px 25px;
    position: relative;
    z-index: 10;
  }

  .confirm {
    background: $gray-dark;
    color: #fff;

    margin-top: -40px;
    padding: 10px 25px;
    position: relative;

    -moz-transition: margin-top 0.15s ease-in;
    -ms-transition: margin-top 0.15s ease-in;
    -o-transition: margin-top 0.15s ease-in;
    -webkit-transition: margin-top 0.15s ease-in;
    transition: margin-top 0.15s ease-in;

    z-index: 5;

    &:hover {
      cursor: default;
    }

    &.active {
      margin-top: 0;
    }
  }
}
