
/* overwrite bootstrap styles */
$navbar-margin-bottom: none;

/* import bootstrap */
@import "../../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

/* define our own styles */
$main-bg: #fff;

$code-line-number-color: #aaa;
$code-line-select-color: #8a6d3b;
$code-font-size: 12px;

/* import our files */
@import "main.css.scss";
@import "sidebar.css.scss";
@import "code.css.scss";
@import "diff.css.scss";
@import "browser.css.scss";
@import "tabs.css.scss";
@import "git.css.scss";

/* global styles */

.center-block {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/*
 * TO DO:
 * 1) convert this to sass
 * 2) move to seperate files
 */

/*
 * The diff table
 * (when this is less wrap in table.diff)
 */

// table.diff {
//   font-size: 11px;
//   margin-bottom:0;

//   /* disallow selection */
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// table.diff>thead>tr>th,
// table.diff>tbody>tr>th,
// table.diff>tfoot>tr>th,
// table.diff>thead>tr>td,
// table.diff>tbody>tr>td,
// table.diff>tfoot>tr>td {
//   padding: 2px 8px;
//   border:none;
//   cursor: pointer;
// }

// .addition {
// 	background-color: #dfd;
// }

// .addition.dark {
// 	background-color: #ceffce !important;
// }

// .deletion {
// 	background-color: #ffdddd;
// }

// .deletion.dark {
// 	background-color: #f7c8c8 !important;
// }

// tr.highlight:hover td.highlight,
// tr.selected td.highlight {
// 	background-color: #f8eec7 !important;
// }

// tr.selected td.comment {
// 	display: block !important;
// }

// .meta pre {
// 	color:#aaa;
// }

// pre {
// 	padding:0; 
// 	margin:0; 
// 	background:none; 
// 	border:none;
// }

// .tab-pane {
// 	margin-top: 20px;
// }

// .nav-tabs a {
// 	cursor: pointer;
// }

// .done {
//   color: #5cb85c;
// }

// .issues {
//   color: #E8AE0C;
// }

// .asdf {
//   color: gre;
// }

// .mergeable {
//   padding-left: 30px;
// }

// .mergeable-text {
//   font-size: 10px;
// }

// .sidebar {
//   position: fixed;
//   top: 51px;
//   bottom: 0;
//   right: 0;
//   z-index: 1000;
//   display: block;
//   padding: 20px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   background-color: #f5f5f5;
//   border-left: 1px solid #eee;
// }

// .sidebar-left {
//   position: fixed;
//   top: 51px;
//   bottom: 0;
//   z-index: 1000;
//   display: block;
//   padding: 20px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   background-color: #f5f5f5;
//   border-left: 1px solid #eee;
// }

// .new-issue-sidebar,
// .issue-sidebar {
//   background-color: #eee;
//   border: 1px solid #f0f0f0;
// }

// .new-issue-sidebar {
//   padding-top: 20px;
// }

// .lead {
//   margin-top: 0px;
// }

// p.lead a,
// p.lead a:hover {
//   color: #333;
// }

// p.lead a:hover {
//   text-decoration: underline;
// }

// li.issue a {
//   color: #333;
// }

// li.issue .closed-issue .fa-circle {
//   color: #5cb85c;
// }

// li.issue .open-issue .fa-circle {
//   color: #E8AE0C;
// }

.default-font {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.settings .row {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}
