.browser {

    a, i {
        font-size: $code-font-size;
    }

    font-size: $code-font-size;

    .panel-body {
        padding: 0;
        overflow-x: scroll;
    }
    
    table {
        margin: 0;

        tr.up td {
            border-bottom: 1px solid $table-border-color;
        }

        tr:first-child td,
        tr:nth-child(2) td {
            border-top: none;
        }

        .select i {
            font-size: inherit;
        }
    }

}