.git { 
  svg {

    margin:-20px 0 0 60px;

    path.git-base,
    path.git-head,
    polygon.git-graph-arrow {
      stroke: black;
    }

    path.git-head {
      fill: none;
    }

    circle.git-commit {
      fill: black;
    }

    circle.git-commit.active {
      fill: $brand-primary;
    }

    circle.git-commit.head {
      fill: $brand-primary-muted;
    }

    circle.git-commit.base:hover,
    circle.git-commit.issue:hover {
      fill: $brand-primary-hover;
      filter: url(#dropshadow);
      cursor: pointer;
    }

    circle.git-commit.head:hover {
      fill: $brand-primary-hover;
    }
  }

  svg.merge {
    font-size: 14px;
  }

  svg.branch {
    font-size: 22px;
  }
}
