.git { 
  svg {
    margin-top: 5px;

    path.git-base,
    path.git-head,
    polygon.git-graph-arrow {
      stroke: black;
    }

    path.git-head {
      fill: none;
    }

    circle.git-commit {
      fill: black;
    }

    circle.git-commit.active {
      fill: red;
    }

    circle.git-commit:hover {
      filter: url(#dropshadow);
      cursor: pointer;
    }
  }

  svg.merge {
    font-size: 14px;
  }

  svg.branch {
    font-size: 22px;
  }
}
