.panel.inverse {

    border: none;
    margin-bottom: 0px;

    .panel-heading {
        color: #ffffff;
        background: $gray-darker;
        border-bottom: none;
    }

    .panel-body {
        border-bottom:10px solid #ffffff;
    }
}

.panel.comment {

    word-break: break-all;

    .panel-heading {
        background: $gray-light;
    }

    .panel-body {
        background: #ffffff;
    }
}