.sidebar {

    padding: 0;
    margin: 0;
    height: 100%;

    .scroll {
        height: 100%;

        section {
            height: 100%;
            overflow-y: scroll;
        }
    }

    .ui-scrollfix {
        position: fixed;
        width: inherit;
        height: 100%;
        top: 10px;
    }

    section {
        padding: $padding-large-vertical $padding-large-horizontal;
    } 
}
