<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="background-color: #f9f9f9;
               font-family: Helvetica, Arial, sans-serif;
                font-weight: 300;
                margin: 0 auto;
                padding: 0 auto;
                text-align:center;">
    <div id="content" 
         style="box-shadow: 0px 0px 10px 0px #ccc;
                margin:0px auto;
                text-align: left;
                max-width: 600px;
                background-color: #fff;">
      <div id="header"
           style="background-color: #d0eaea;
                  padding-top: 30px;
                  padding-bottom: 30px;
                  padding-left: 40px;
                  padding-right: 40px;">
        <img src="logo.png" width="240px" height="38px" />
      </div>
      <div id="main"
           style="margin: 70px 30px 80px;">
        <table>
          <tr>
            <td style="vertical-align: top;
                       padding: 10px;">
              <div id="icondiv"
                      style="color: #ef4e14;
                             width: 42px;">
                             <img src="<%- icon%>" height="42px"></span></div></td>
            <td style="vertical-align: top;
                       padding: 10px;" 
              id="message"
                style="color: #349b94;
                       font-size: 2.25em;
                       line-height: 1.2em;"><%- actionText %></td>
          </tr>
          <tr>
            <td style="vertical-align: top;
                       padding: 10px;">
              </td>
            <td style="vertical-align: top;
                       padding: 10px;">
              <button href="#" 
            style="background-color: #ef4e14;
                   border-style: none;
                   color: white;
                   font-size: 14pt;
                   font-weight: 600;
                   padding: 14px;">View in ReviewNinja</button></td>
          </tr>
        </table>
      </div>
      <div id="footer"
           style="background-color: #ecebeb;
                  clear: both;
                  color: #666;
                  font-size: 1em;
                  font-style: italic;
                  padding-bottom: 10px;
                  padding-left: 40px;
                  padding-right: 15px;
                  padding-top: 10px;
                  line-height: 1.15em;">
        <p style="margin-right: 125px">You received this email because you asked to be notified about issues opened or closed in ReviewNinja. You can <a style="color: #349b94;" href="#">manage notifications in ReviewNinja</a>.</p>
        <img id="ninja" src="ninja.png" width="140px"
             style="float: right;
                    margin-top: -150px;"/>
      </div>
    </div>
  </body>
</html>
